language: android
jdk: oraclejdk8
sudo: false

env:
  global:
    - ANDROID_TARGET=android-22
    - ANDROID_ABI=armeabi-v7a
    - ADB_INSTALL_TIMEOUT=10    #Time out to 10 mins

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:      #Cache all dirs under .gradle folder
    - $HOME/.gradle/daemon      #Cache daemon logs
    - $HOME/.gradle/native      #Cache library downloaded from the gradle dependency
    - $HOME/.gradle/wrapper     #Cache the gradle

android:
  components:
    - platform-tools
    - tools
    - build-tools-28.0.3 #Build tool version
    - android-29 # Target API version
    - $ANDROID_TARGET

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # System images for emulator
    - sys-img-armeabi-v7a-android-22

licenses:
  - 'android-sdk-preview-license-52d11cd2'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

before_script:
  - chmod +x gradlew      #Grant permissions
  - android list targets
  # Create and start emulator
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &

script:
  - echo "Travis branch is $TRAVIS_BRANCH"    #Print out which branch it is.
  - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"    #Print out pull request number.
  - android-wait-for-emulator
  - adb devices                           #Display list of devices
  - adb shell input keyevent 82 &
  - ./gradlew clean test connectedAndroidTest -PdisablePreDex --stacktrace

before_install:
  - pip install --user codecov    #Install codecov

after_success:
  - codecov                       #Run codecov

after_failure: "cat $TRAVIS_BUILD_DIR/app/build/outputs/lint-results-debug.xml"